* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #111827;
  background-color: #ffffff;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 16px; /* Increased width */
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #066C98; /* Updated thumb color */
  border-radius: 10px;
  border: 4px solid #f0f0f0; /* Adjusted border to match new width */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2CACE3;
}

@keyframes muiSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes muiPulse {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes muiIndeterminate {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(320%);
  }
}
